<div class="form">
    <h1 class="header">
        Enter Login Information
    </h1>
    <div class="top-space">
        <label class="form-label">User Name</label>
    </div>
    <div>
        <input class="input-box" type="text" placeholder="Enter Username">
    </div>
    <div>
        <label class="form-label">Password</label>
    </div>
    <div class="bottom-space20">
        <input class="input-box" type="password" placeholder="Enter Password">
    </div>
    <div class="bottom-space">
        <button (click)="authenticate()" class="form-button">Login</button>
    </div>
</div>