<div class="jumbotron">

    <div class="d-flex flex-row-reverse mb-3">
        <button (click)="addBankDetails()" class="col-md-2 btn btn-primary">Add to Branch</button>
    </div>

    <div class="row">
        <table class="col-md-12 table">
            <tr class="table-primary text-center">
                <th>Branch Name</th>
                <th>IFSC Code</th>
                <th>Bank</th>
                <th>District</th>
                <th>State</th>
                <th>Action</th>
            </tr>
            <tr class="table-light text-center" *ngFor="let data of bankInfo; let i = index">
                <td>{{data.branchName}}</td>
                <td>{{data.ifscCode}}</td>
                <td>{{data.bank}}</td>
                <td>{{data.district}}</td>
                <td>{{data.state}}</td>
                <td>
                    <button class="btn btn-danger" (click)="deleteRow(data.id)">Delete</button>
                </td>
            </tr>
        </table>
    </div>
</div>