.side-nav {
    float: left;
    background-color: rgb(86, 150, 202);
    width: 300px;
    height: 1000px;
}

.dashboard-header {
    background-color: rgb(6, 119, 212);
    height: 100px;
    float: top;
    width: 1800px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.logout {
    float: right;
    margin: 30px;
    border: black solid 2px;
    padding: 10px;
    color: black;
}

.logout:hover {
    background-color: rgb(86, 150, 202);
    transition: 1s;
}

.side-nav-li-items {
    margin-top: 300px;
}

.side-nav-li {
    border-top: white 1px solid;
    border-bottom: white 1px solid;
    border-collapse: collapse;
    list-style: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

a:link,
a:visited {
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-collapse: collapse;
}

tr,
td,
th,
table {
    border: black 1px solid;
    border-collapse: collapse;
}

th,
td {
    width: 280px;
    height: 50px;
    text-align: center;
}

.dashboard-body {
    float: left;
    margin: 30px;
    margin-top: 50px;
    position: relative;
}

.table-button {
    color: white;
    background-color: red;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    cursor: pointer;
}

.branch-button {
    position: relative;
    margin-right: 85px;
    float: right;
    margin-top: 20px;
    padding: 10px;
    padding-left: 90px;
    padding-right: 90px;
    background-color: rgb(6, 119, 212);
    color: white;
    cursor: pointer;
}

.paging {
    position: relative;
    margin-left: 820px;
    float: left;
    margin-top: 10px;
    color: black;
    cursor: pointer;
}

.space {
    margin-right: 10px;
    cursor: pointer;
}

.space:hover {
    color: rgb(6, 119, 212);
}